    <% form_for :user, :url => { :action => "change_password" } do |f| %> 
      <%= f.error_messages %>
      <div>
      <div id="field_left">
      	<%= f.label :current_password %>
      </div>
      <div id="field_right">
      	<%= f.password_field :current_password, :size => 17%> <br>
      </div>
	<div id="spacer"> </div>
	</div>
	<div>
      <div id="field_left">
      	<%= f.label :password %>
      </div>
      <div id="field_right">
      	<%= f.password_field :password, :size => 17 %> <br>
      </div>
	<div id="spacer"> </div>
	</div>
	<div>
      <div id="field_left">
      <%= f.label :password_confirmation%> 
      </div>
      <div id="field_right">
      <%= f.password_field :password_confirmation, :size => 17 %><br>
      </div>
	<div id="spacer"> </div>
	</div>
      <div style="float:right;margin:20px;">
      <%= f.submit 'Change password' %>
      </div>
    <% end %>
